body{
    
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

.titulo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.body{
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img{
    max-width: 500px;
    max-height: 500px;
}